* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}
html,body{
  overflow: hidden;
  height: 100%;
}

.main {
    width: 46.875rem;
    position: relative;
}

#app {
    display: flex;
    width: 100%;
    height: 37.5rem;
    background: url('https://img-blog.csdnimg.cn/aba2a0304e1e44d3a958b261a07c9971.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px;

}

.imgGlobal {
    position: absolute;
    border-radius: .3125rem;
    cursor: pointer;
}

.imgFilter {
    filter: brightness(30%);
}

#storageBox {
    display: flex;
    height: 50px;
    width: 300px;
    border-radius: .3125rem;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 4.6875rem;
    margin: 0 auto;
    margin-top: .9375rem;
    text-align: center;
    line-height: 4.375rem;
}

.refresh{
    width: 30%;
    background-color: #0f57ff;
    border-radius: .9375rem;
    color: #ffffff;
}

.pattern {
    width: 30%;
    background-color: #0f57ff;
    border-radius: .9375rem;
    color: #ffffff;
}

.money {
    width: 30%;
    background-color: #0f57ff;
    border-radius: .9375rem;
    color: #d81e06;
}

.icon-shuaxin:before {
    font-size: 50px;
}
.icon-dashang:before {
    font-size: 50px;
}
.icon-xingnaomoshi:before {
    font-size: 50px;
}
.modal{
    display: none;
}
.modal .mImg{
   position: absolute;
    top: 5%;
    left: 50%;
    width: 340px;
    height: 370px;
    background-color: #ffffff;
    z-index: 99999;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:1.25rem;
    box-shadow: 0px 0px 20px #ddd;
}
.modal img{
    height: 280px;
    margin-top: .3125rem;
   
}
.modal .fail{
    height: 50px;
    width: 260px;
    background-color: #0f57ff;
    border: 0;
    border-radius: .625rem;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 7px;
    
}

.reward{
    display: none;
}

.reward .mImg{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 340px;
    height: 370px;
    background-color: #ffffff;
    z-index: 99999;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:1.25rem;
     box-shadow: 0px 0px 20px #ddd;
}
.reward img{
    height: 280px;
    margin-top: .3125rem;
   
}
.reward .leave{
    width: 150px;
    height: 45px;
    background-color: #0f57ff;
    border: 0;
    border-radius: .625rem;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 7px;
}
.choice{
    display: none;
}
.difficulty{
     position: absolute;
    top: 5%;
    left: 50%;
    width: 360px;
    height: 370px;
    background-color: #ffffff;
    z-index: 99999;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius:1.25rem;
     box-shadow: 0px 0px 20px #ddd;
}
.difficulty button{
    width: 300px;
    height: 60px;
    background-color: #0f57ff;
    border: 1px solid #ccc;
    font-size: 20px;
    color: #fff;
    border-radius:15px;
}
.difficulty p{
    font-size: 20px;
}

.box{
    position: absolute;
    top: 2%;
    left: 50%;
    width: 28rem;
    height: 370px;
    background-color: #ffffff;
    z-index: 99999;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    border-radius:1.25rem;
}
.win{
    display: none;
}
.box img{
    width: 250px;
}
.box p{
    font-size: 20px;
}
.box button{
    height: 50px;
    width: 125px;
    background-color: #0f57ff;
    border: 0;
    border-radius: .625rem;
    color: #fff;
    font-size: 1.5rem;
}


