* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.main {
    width: 46.875rem;
    height: 100vh;
    background-color: pink;
}

#app {
    display: flex;
    width: 100%;
    height: 37.5rem;
    background: url('./img/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px;

}

.imgGlobal {
    position: absolute;
    border-radius: .3125rem;
    cursor: pointer;
}

.imgFilter {
    filter: brightness(30%);
}

#storageBox {
    display: flex;
    height: 50px;
    width: 350px;
    border-radius: .3125rem;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: rgb(200, 239, 252);
    height: 4.6875rem;
    margin: 0 auto;
    margin-top: 1.25rem;
    text-align: center;
    line-height: 4.375rem;
}

.refresh{
    width: 30%;
    background-color: #0f57ff;
    border-radius: .9375rem;
    color: #ffffff;
}

.pattern {
    width: 30%;
    background-color: #0f57ff;
    border-radius: .9375rem;
    color: #ffffff;
}

.money {
    width: 30%;
    background-color: #0f57ff;
    border-radius: .9375rem;
    color: #d81e06;
}

.icon-shuaxin:before {
    font-size: 50px;
}
.icon-dashang:before {
    font-size: 50px;
}
.icon-xingnaomoshi:before {
    font-size: 50px;
}
/* .modal{
    position: absolute;
    top: 10%;
    left: 7%;
    width: 300px;
    height: 360px;
    background-color: blue;
    z-index: 999;
} */

